* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.student-table {
  margin-top: 100px;
}
.sort-container {
  width: 200px;
}
.form-select {
  text-align: center;
  align-items: end;
}
